services:
  db:
    image: postgres:17
    restart: always
    env_file: "backend/.env"
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: comment-checker-backend
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres-data:
